.service{
	margin-bottom: 120px;
	margin-top: -38px;
}
.mobile-only-btn {
  display: none;
}

@media only screen and (max-width: 425px) {
	.service{
		margin-bottom: 40px;
	}
	.mobile-only-btn_service {
    display: block; 
		margin: 0 auto;
    margin-bottom: 60px;
    width: 287px;
    text-align: center;
  }
}